{% extends "wrapper.html" %}

{% block css %}

{{ block.super }}

{% endblock css %}

{% block main %}
<!-- start: Page Title -->
<div id="page-title">

        <div id="page-title-inner">

            <!-- start: Container -->
            <div class="container">

                <h2>{{ page_title }}</h2>

            </div>
            <!-- end: Container  -->

        </div>

    </div>
<!-- end: Page Title -->


<!--start: Wrapper-->
    <div id="wrapper">

        <!--start: Container -->
        <div class="container">

            <div class="row">

                <div class="span8">

                    <!-- start: About Us -->
                    <div id="about">
                        <h4>
            2014 International Conference on
            Social Computing, Behavioral-Cultural Modeling, & Prediction (SBP14)<br />
            April 2 – April 4, 2014, UCDC Center,  Washington DC, USA
                        </h4>
                        <p>
<div class="title"><h3>IMPORTANT DATES:</h3></div>
Paper Registration Deadline:  November 8, 2013<br />
Paper/full text poster Due:  November 15, 2013<br />
Author Notification:  December 20, 2013<br />
Camera-ready version Due:  January 10, 2014
                        </p>

                        <div class="title"><h3>CALL FOR PAPERS AND POSTERS:</h3></div>
                          <p>
Papers and posters are solicited on research issues, theories, and applications. Topics of interests include, but are not limited to,
</p>
                        <p>
<h3>Basic Research on Sociocultural & Behavioral Processes using SBP</h3>
 Group interaction and collaboration<br />
 Group formation and evolution<br />
 Group representation and profiling<br />
 Collective action and governance<br />
 Cultural patterns & representation<br />
 Social conventions and social contexts<br />
 Influence process and recognition<br />
 Public opinion representation<br />
 Viral marketing and information diffusion<br />
 Psycho-cultural situation awareness<br />
</p>
                        <p>
<h3>Methodological Issues in SBP</h3>
 Mathematical foundations<br />
 Verification and validation<br />
 Sensitivity analysis<br />
 Matching technique or method to research questions<br />
 Metrics and evaluation<br />
 Methodological innovation<br />
 Model federation and integration<br />
 Evolutionary computing<br />
 Network analysis and optimization
</p>
                        <p>
<h3>Military & Security Applications</h3>
 Group formation and evolution in the political context<br />
 Technology and flash crowds<br />
 Networks and political influence<br />
 Information diffusion<br />
 Group representation and profiling<br />
 Reasoning about terrorist group behaviors and policies towards them<br />
</p>
                        <p>
<h3>Health Applications of SBP</h3>
 Social network analysis to understand health behavior<br />
 Modeling of health policy and decision making<br />
 Modeling of behavioral aspects of infectious disease spread<br />
 Intervention design and modeling for behavioral health<br />
</p>
                        <p>
<h3>Other Applications of SBP</h3>
 Economic applications of SBP<br />
 Reasoning about development aid through SBP<br />
 Reasoning about global educational efforts through SBP<br />

                        </p>
                        <p>
<h3>IMPORTANT DATES:</h3>
Paper Registration Deadline:       November 8, 2013 (11:59pm, EST)<br />
Full Paper/Poster Submission:     November 15, 2013 (11:59pm, EST)<br />
Author Notification:                    December 20, 2013 (11:59pm, EST)

                        </p>
                        <p>
<h3>FORMAT AND SUBMISSION:</h3>
SBP14 Conference Proceedings will be published in Lecture Notes in Computer Science (LCNS) by Springer. The papers must be in English and MUST be formatted according to the Springer-Verlag LNCS/LNAI guidelines. Sample LaTeX2e and WORD files are available at

http://www.springer.com/computer/lncs?SGWID=0-164-6-793341-0.
<br /><br />
Abstract and full text for both oral presentations and posters should be submitted electronically before the specified deadlines. The maximum length of papers is 8 pages.
                        </p>
                        <p>

For any questions and inquiries, please send to
don@csee.wvu.edu, ccioffi@gmu.edu
                        </p>
                        <p>
<h3>PRE-CONFERENCE  TUTORIAL SESSIONS:</h3>
Four half-day sessions will be offered: two concurrent sessions in the morning and two concurrent sessions in the afternoon on the day before the full conference. Sessions will be designed to meet the needs of one of two distinct groups. One group will consist of attendees who have backgrounds in computational science; computer science, engineering, and other mathematically oriented disciplines. Other tutorial sessions will be designed for behavioral and social scientists and others (e.g. those with medical backgrounds or training in public health) who may have limited formal education in the computational sciences. Attendees will gain an understanding of terminology, theories, and general approaches employed by computationally based fields,
especially with respect to modeling approaches.
                        </p>
                        <p>
More details regarding the preconference tutorial sessions, including instructors, course content, and registration information will be posted to the conference website as soon as this information becomes available.
                        </p>
                        <p>
Note that the plans for the tutorial sessions are in progress and are subject to change.
                        </p>
                        <p>
<h3>SBP 14 CHALLENGE:</h3>
The SBP Challenge aims to demonstrate the real-world and interdisciplinary impact of social computing. The challenge will engage the social computing research community in solving a relevant, interesting, and challenging research problem that will advance the theory, methodology, and/or application of social computing.
                        </p>
                        <p>
<h3>KEYNOTES AND TUTORIALS:</h3>
The conference will feature keynotes and tutorials on several special topics.
                        </p>
                        <p>

Keynotes and tutorials delivered in the previous SBP meetings are available through the SBP website, http://sbp.asu.edu/
                        </p>
                        <p>

<h3>CROSS-FERTILIZATION ROUNDTABLES:</h3>
The SBP14 Cross-fertilization Roundtable session will be held in the afternoon of the first day of the technical portion of the conference. The purpose of the
cross-fertilization roundtables is to help participants become better acquainted with people outside of their discipline and with whom they might consider partnering on a future SBP project.
                        </p>
                        <p>
<h3>BEST PAPER AWARDS:</h3>
SBP14 will feature a Best Paper Award and a Best Student Paper Award.  All papers are qualified for the Best Paper Award. Papers where the senior author says the principal author is a student will be considered for the Best Student Paper Award.
                        </p>
                        <p>
<h3>HOTEL AND LOGISTICS:</h3>
Information on hotel and logistics will be provided at the conference website as it becomes available.
</p>
                        <p>

<h3>TRAVEL SCHOLARSHIPS:</h3>
It is anticipated that a limited number travel scholarships will be available on a competitive basis. Additional information will be provided on the SBP Conference website as it becomes available.

</p>

                        </p>
                    </div>
                    <!-- end: About Us -->

                </div>

                <div class="span4">

                    <!-- start: Sidebar -->
                    <div id="sidebar">

                        <!-- start: Skills -->
                        <!--div class="title"><h3>Our Skills</h3></div>
                        <ul class="progress-bar">
                            <li>
                                <h5>Web Design ( 40% )</h5>
                                <div class="meter"><span style="width: 120px;"></span></div><!-- Edite width here --
                            </li>
                            <li>
                                <h5>Wordpress ( 80% )</h5>
                                <div class="meter"><span style="width: 240px;"></span></div><!-- Edite width here --
                            </li>
                            <li>
                                <h5>Branding ( 100% )</h5>
                                <div class="meter"><span style="width: 300px;"></span></div><!-- Edite width here --
                            </li>
                            <li>
                                <h5>SEO Optmization ( 60% )</h5>
                                <div class="meter"><span style="width: 180px;"></span></div><!-- Edite width here --
                            </li>
                        </ul>
                        <!-- end: Skills -->

                        <hr class="clean">

                        <!-- start: Tabs -->
                        <ul class="tabs-nav">
                            <li class="active"><a href="#tab1"><i class="mini-ico-glass"></i>Important Dates</a></li>
                            <li><a href="#tab2"><i class="mini-ico-list"></i> Instructions</a></li>
                        </ul>

                        <div class="tabs-container">
                            <div class="tab-content" id="tab1" style="display: block;">
Paper Registration Deadline: Nov 8, 2013<br />
Full Paper/Poster Submission: Nov 15, 2013<br />
Author Notification: Dec 20, 2013</div>
                            <div class="tab-content" id="tab2" style="display: none;">Submission instructions will be available soon.</div>
                        </div>
                        <!-- end: Tabs -->

                        <hr class="clean">

                        <!-- start: Testimonials-->

                        <div class="testimonial-container">

                            <div class="title-out"><h3>&nbsp;</h3></div>

                                <div class="testimonials-carousel" data-autorotate="3000" role="application" style="overflow: hidden; width: 100%;" aria-live="polite"> <a href="#carousel-1-0" class="mr-rotato-next"></a> <a href="#carousel-1-0" class="mr-rotato-prev"></a>

                                    <ul class="carousel" id="carousel-1-0" aria-activedescendant="carousel-1-0-slide2" style="margin-left: -200%; float: left; width: 400%; -webkit-transition: margin-left 0.3s ease; transition: margin-left 0.3s ease;">

                                        <li class="testimonial" role="tabpanel document" id="carousel-1-0-slide0" aria-hidden="true" style="float: left; width: 25%;">
                                            <div class="testimonials">SBP2013 acceptance statistics:<br />
137 submissions. 33 papers, 25 posters accepted (24% paper, 42% overall).
All major categories are well represented: Behavioral and Social Science, Health Science, Information Systems and Network Science, Military and Security and Methods</div>
                                            <div class="testimonials-bg"></div>
                                            <div class="testimonials-author"><span></span><a href="https://twitter.com/SBP_Conference/status/290879842977722368">@SBP_CONFERENCE</a></div>
                                        </li>

                                        <li class="testimonial" role="tabpanel document" id="carousel-1-0-slide1" aria-hidden="true" style="float: left; width: 25%;">
                                            <div class="testimonials">&nbsp;</div>
                                            <div class="testimonials-bg"></div>
                                            <div class="testimonials-author"><span></span></div>
                                        </li>

                                    </ul>

                                </div>

                            </div>

                        <!-- end: Testimonials-->

                    </div>
                    <!-- end: Sidebar -->

                </div>

            </div>

            <hr class="clean">

            <!-- end: Row -->


            <hr class="clean">

            <div class="title-out"><h3>Sponsors</h3></div>

            <!-- start Clients List -->
            <div class="clients-carousel">

                <ul class="slides clients">
                    <li><img src="http://sbp2013.org/images/springer-lncs.png" alt=""/></li>

                </ul>

            </div>
            <!-- end Clients List -->

            <hr class="clean">

        </div>
        <!--end: Container-->

    </div>
    <!-- end: Wrapper  -->

{% endblock main %}
