{% extends "wrapper.html" %}

{% block css %}

{{ block.super }}

{% endblock css %}

{% block main %}
<!-- start: Page Title -->
<div id="page-title">

        <div id="page-title-inner">

            <!-- start: Container -->
            <div class="container">

                <h2>{{ page_title|title }}</h2>

            </div>
            <!-- end: Container  -->

        </div>

    </div>
<!-- end: Page Title -->


<!--start: Wrapper-->
    <div id="wrapper">

        <!--start: Container -->
        <div class="container">

            <div class="row">

<hr class="clean">

    <!-- start: Row -->
    <div class="row">

        <div class="span12">

                <div id="Committee">
                    <p>
                        The conference was made possible by the generous time and effort that these folks have contributed.
                    </p>
                </div>


            <!-- start: Row -->
            <div class="row">

                <div class="span3">

                    <div class="picture">
                        <a href="{{ STATIC_URL }}img/blank.jpg" rel="image" title="mobile app">
<!--                                     <img src="{{ STATIC_URL }}img/blank.jpg" >
-->                                    <div class="image-overlay-zoom"></div>
                        </a>
                        <div class="item-description">
                            <h4><a href="#">CONFERENCE CHAIR</a></h4>
                            <p>Claudio Cioffi-Revilla <br />
                                George Mason University</p>
                        </div>
                    </div>

                </div>

                <hr class="visible-phone">

                <div class="span3">

                    <div class="picture">
                        <a href="/">
                            <!-- <img src="{{ STATIC_URL }}img/blank.jpg"> -->
                            <div class="image-overlay-link"></div>
                        </a>
                        <div class="item-description">
                            <h4><a href="#">PROGRAM CHAIR</a></h4>
                            <p>William Kennedy<br />George Mason University</p>
                        </div>
                    </div>

                </div>

                <div class="span3">

                    <div class="picture">
                        <a href="{{ STATIC_URL }}img/mobile_app1.jpg" rel="image" title="mobile app">
<!--                                     <img src="{{ STATIC_URL }}img/blank.jpg">
-->                                    <div class="image-overlay-zoom"></div>
                        </a>
                        <div class="item-description">
                            <h4><a href="#">PROGRAM CHAIR</a></h4>
                            <p>
                                Nitin Agarwal<br />University of Arkansas<br /></p>
                        </div>
                    </div>

                </div>

                <hr class="visible-phone">

                <div class="span3">

                    <div class="picture">
                        <a href="{{ STATIC_URL }}img/blank.jpg" rel="image" title="mobile app">
<!--                                     <img src="{{ STATIC_URL }}img/blank.jpg">
-->                                    <div class="image-overlay-zoom"></div>
                        </a>
                        <div class="item-description">
                            <h4><a href="#">PROGRAM CHAIR</a></h4>
                            <p>
                                Shanchieh (Jay) Yang<br />Rochester Institute of Technology<br /></p>
                        </div>
                    </div>

                </div>

                <hr class="visible-phone">

                <div class="span3">

                    <div class="picture">
                        <a href="{{ STATIC_URL }}img/blank.jpg" rel="image" title="mobile app">
<!--                                     <img src="{{ STATIC_URL }}img/blank.jpg">
-->                                    <div class="image-overlay-zoom"></div>
                        </a>
                        <div class="item-description">
                            <h4><a href="#">WEB CHAIR</a></h4>
                            <p>
                                Katherine Chuang<br />&nbsp;</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end: Row -->

        </div>


<hr class="clean">
<!-- PAGE TEMPLATE -->

                <div class="span8">

                    <!-- start: About Us -->
                    <div id="about">
                        {{ page_contents|safe|linebreaks }}
                    </div>
                    <!-- end: About Us -->

                </div>

                <div class="span4">

                    <!-- start: Sidebar -->
                    <div id="sidebar">

                        <hr class="clean">



                        <hr class="clean">



                    </div>
                    <!-- end: Sidebar -->

                </div>

            </div>

            <hr class="clean">

            <!-- end: Row -->


            <hr class="clean">

            <!-- <div class="title-out"><h3>Sponsors</h3></div> -->

            <!-- start Clients List -->
            <div class="clients-carousel">

                <ul class="slides clients">
                    <li><img src="" alt=""/></li>

                </ul>

            </div>
            <!-- end Clients List -->

            <hr class="clean">

        </div>
        <!--end: Container-->

    </div>
    <!-- end: Wrapper  -->



    </div>
    <!-- end: Row -->

{% endblock main %}
