
            <hr class="clean">

            <!-- start: Row -->
            <div class="row">

                <div class="span9">

                    <div class="title-out"><h3>Latest Works</h3></div>

                    <!-- start: Row -->
                    <div class="row">

                        <div class="span3">

                            <div class="picture">
                                <a href="img/car.jpg" rel="image" title="mobile app">
                                    <img src="img/car.jpg" >
                                    <div class="image-overlay-zoom"></div>
                                </a>
                                <div class="item-description">
                                    <h4><a href="#">Mobile App</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                </div>
                            </div>

                        </div>

                        <hr class="visible-phone">

                        <div class="span3">

                            <div class="picture">
                                <a href="project.html">
                                    <img src="img/web_app1.jpg">
                                    <div class="image-overlay-link"></div>
                                </a>
                                <div class="item-description">
                                    <h4><a href="#">Mobile App</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                </div>
                            </div>

                        </div>

                        <hr class="visible-phone">

                        <div class="span3">

                            <div class="picture">
                                <a href="img/mobile_app1.jpg" rel="image" title="mobile app">
                                    <img src="img/mobile_app1.jpg">
                                    <div class="image-overlay-zoom"></div>
                                </a>
                                <div class="item-description">
                                    <h4><a href="#">Mobile App</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- end: Row -->

                </div>

                <hr class="visible-phone">

                <div class="span3">

                    <!-- start: List Style -->

                    <div class="title-out"><h3>Why redBox?</h3></div>
                    <ul class="check_list">
                        <li>Fully responsive so your content will always look good on any screen size</li>
                        <li>Awesome sliders give you the opportunity to showcase important content</li>
                        <li>Tested on iPhone and iPad with Retina Display</li>
                        <li>Multiple layout options for home pages, portfolio section & blog section</li>
                        <li>We offer free support because we care about your site as much as you do.</li>
                        <li>Over 400 Icons .</li>
                    </ul>
                    <!-- end: List Style -->

                </div>

            </div>
            <!-- end: Row -->
