{% extends "wrapper.html" %}

{% block css %}

{{ block.super }}

{% endblock css %}

{% block main %}
<!-- start: Page Title -->
<div id="page-title">

        <div id="page-title-inner">

            <!-- start: Container -->
            <div class="container">

                <h2>{{ page_title|title }}</h2>

            </div>
            <!-- end: Container  -->

        </div>

    </div>
<!-- end: Page Title -->


<!--start: Wrapper-->
    <div id="wrapper">

        <!--start: Container -->
        <div class="container">

            <div class="row">

                <div class="span8">

                    <!-- start: About Us -->
                    <div id="about">
                        {{ page_contents|safe|linebreaks }}
                    </div>
                    <!-- end: About Us -->

                </div>

                <div class="span4">

                    <!-- start: Sidebar -->
                    <div id="sidebar">

                        <hr class="clean">



                        <hr class="clean">



                    </div>
                    <!-- end: Sidebar -->

                </div>

            </div>

            <hr class="clean">

            <!-- end: Row -->


            <hr class="clean">

            <!-- <div class="title-out"><h3>Sponsors</h3></div> -->

            <!-- start Clients List -->
            <div class="clients-carousel">

                <ul class="slides clients">
                    <li><img src="" alt=""/></li>

                </ul>

            </div>
            <!-- end Clients List -->

            <hr class="clean">

        </div>
        <!--end: Container-->

    </div>
    <!-- end: Wrapper  -->

{% endblock main %}
