<!-- start: Footer -->
    <div id="footer">

        <!-- start: Container -->
        <div class="container">

            <!-- start: Row -->
            <div class="row">

                <!-- start: About -->
                <div class="span3">

                    <h3>Previous Events</h3>

                    <p>
                        <i class="fa-icon-map-marker"></i> SBP2013
                    </p>
                    <p>
                        <i class="fa-icon-map-marker"></i> SBP2012
                    </p>
                    <p>
                        <i class="fa-icon-phone"></i> SBP2011
                    </p>
                    <p>
                        <i class="fa-icon-print"></i> SBP2010
                    </p>
                    <p>
                        <i class="fa-icon-envelope"></i> SBP2009
                    </p>
                    <p>
                        <i class="fa-icon-globe"></i> Web: companyname.com
                    </p>

                </div>
                <!-- end: About -->

                <!-- start: Latest Tweets -->
                <div class="span3">

                    <h3>Latest Tweets</h3>

                    <ul id="twitter">

                    </ul>

                    <div class="clear"></div>


                </div>
                <!-- end: Latest Tweets -->

                <!-- start: Photo Stream -->
                <div class="span3">

                    <h3>Flickr Photo Stream</h3>
                    <div class="flickr-widget">
                        <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=12&display=latest&size=s&layout=x&source=user&user=29609591@N08"></script>
                        <div class="clear"></div>
                    </div>

                </div>
                <!-- end: Photo Stream -->

                <!-- start: Follow Us -->
                <div class="span3">

                    <h3>Follow Us</h3>

                    <div id="social-r" class="tooltips">
                        <a href="https://www.facebook.com/pages/SBP-2013-Conference/120779624740819" rel="tooltip" title="Facebook" class="facebook">Facebook</a>
                        <a href="#" rel="tooltip" title="Github" class="github">Github</a>
                        <a href="https://twitter.com/sbp_conference" rel="tooltip" title="Twitter" class="twitter">Twitter</a>
                    </div>

                </div>
                <!-- end: Follow Us -->

            </div>
            <!-- end: Row -->

        </div>
        <!-- end: Container  -->

    </div>
    <!-- end: Footer -->

    <!-- start: Footer Menu -->
    <div id="under-footer" class="hidden-tablet hidden-phone">

        <!-- start: Container -->
        <div class="container">

            <!-- start: Row -->
            <div class="row">

                <!-- start: Footer Menu Logo -->
                <div class="span2">
                    <div id="under-footer-logo">
                        <a class="brand" href="#">SBP<span>2014</span>.</a>
                    </div>
                </div>
                <!-- end: Footer Menu Logo -->

                <!-- start: Footer Menu Links-->
                <div class="span9">

                    <div id="under-footer-copyright">
                        &copy; 2013-2014, <a href="http://sbpconference.herokuapp.com">SBP</a>. Designed by <a href="http://twitter.com/katychuang">Kat Chuang</a>
                    </div>

                </div>
                <!-- end: Footer Menu Links-->

                <!-- start: Footer Menu Back To Top -->
                <div class="span1">

                    <div id="under-footer-back-to-top">
                        <a href="#"></a>
                    </div>

                </div>
                <!-- end: Footer Menu Back To Top -->

            </div>
            <!-- end: Row -->

        </div>
        <!-- end: Container  -->

    </div>
    <!-- end: Footer Menu -->
