<!--start: Header -->
    <header>

        <!--start: Container -->
        <div class="container">

            <!--start: Row -->
            <div class="row">

                <!--start: Logo -->
                <div class="logo span3">

                    <a class="brand" href="#">SBP<span>2014</span></a>

                </div>
                <!--end: Logo -->

                <!--start: Navigation -->
                <div class="span9">

                    <div class="navbar navbar-inverse">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <div class="nav-collapse collapse">
                                <ul class="nav">
                                    <li class="active"><a href="/">Home</a></li>
                                    <li ><a href="/about">About</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Information<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/awards">Awards</a></li>
                                            <li><a href="/cfp/">Call for Proposals</a></li>
                                            <li><a href="/committee/">Committee</a></li>
                                            <li ><a href="/downloads">Downloads</a></li>
                                            <li><a href="/registration">Registration</a></li>
                                            <li><a href="/travel">Travel</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedule<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/keynote">Keynote</a></li>
                                            <li><a href="/program">Program</a></li>
                                            <li><a href="/roundtable">RoundTables</a></li>
                                            <li><a href="/tutorial">Tutorials</a></li>
                                        </ul>
                                    </li>
                                    <li ><a href="/challenge">Challenge</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!--end: Navigation -->

            </div>
            <!--end: Row -->

        </div>
        <!--end: Container-->

    </header>
    <!--end: Header-->
